@use './variables' as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glass {
  background: rgba($color-secondary, 0.6);
  backdrop-filter: blur(12px);
  border: $border-light;
}
