@use './variables' as *;
@use './reset';

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-main;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
